    div{
        font-family: sans-serif;
        font-weight: bold;
        direction: rtl;
        padding:0.1px;
    }

    html,body,iframe{
        margin:0px;
    }
    p{
    text-align: right
    }
    #header a {
    color: white;
    }

    #menu img{
        height: 80px;
    }

    #header {
        overflow: hidden;
    }
    #header ul {
        float: right;
        
    }
    #header li {
        display: inline;
        padding:5px;
    }


    #header img {
      float: left;

    }

    #header h1 {
      position: relative;

    }

    #F1,#F2,#F3{
        width:32.87%;
    height:700px;

}