    html,body,iframe{margin:0px;}
    
    h1{text-align: right}

    #menu img{height: 80px;}

    p
    {
    padding-right: 10px;
    text-align: right;
    }

    #F1,#F2,#F3
    {
    width:32.5%;
    height:700px;
    }

    div
    {
    font-family: sans-serif;
    font-weight: bold;
    direction: rtl;
    padding:0.1px; 
    }
 
    #header 
    { 
    overflow: hidden; 
    width:80%;
    background-color:black;
    color:white;
    }

    #header a { color: white; }
    #header ul { float: right; }
    #header img { float: left; }

    #header li
    {
    display: inline;
    padding:5px;
    }

    #header h1 
    {
    height:10px;
    padding-right: 45px;
    }

